In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
import numpy as np
plt.style.use('fivethirtyeight')

import sklearn


train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [2]:
## Missing values

x = train.isna().sum()
items = train.columns
z = round((train[items].isna().sum() / len(train[items])) * 100, 2)
pd.concat([x, z], axis=1, keys=['missing', 'missing_percent'])

              missing  missing_percent
PassengerId         0             0.00
HomePlanet        201             2.31
CryoSleep         217             2.50
Cabin             199             2.29
Destination       182             2.09
Age               179             2.06
VIP               203             2.34
RoomService       181             2.08
FoodCourt         183             2.11
ShoppingMall      208             2.39
Spa               183             2.11
VRDeck            188             2.16
Name              200             2.30
Transported         0             0.00

In [3]:
## Drop missing

train.dropna(inplace=True)
train.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [4]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

le = preprocessing.LabelEncoder()

testo = test.copy()
train[['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Transported']] = train[['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Transported']].apply(le.fit_transform)
test[['HomePlanet', 'CryoSleep', 'Destination', 'VIP']] = test[['HomePlanet', 'CryoSleep', 'Destination', 'VIP']].apply(le.fit_transform)
test.drop(columns=['PassengerId', 'Cabin', 'Name'], inplace=True, axis=1)

train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1,0,B/0/P,2,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,0,0,F/0/S,2,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,1,0,A/0/S,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,1,0,A/0/S,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,0,0,F/1/S,2,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,A/98/P,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0
8689,9278_01,0,1,G/1499/S,1,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0
8690,9279_01,0,0,G/1500/S,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1
8691,9280_01,1,0,E/608/S,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0
8692,9280_02,1,0,E/608/S,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1

In [5]:
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()

# Only floats
float_columns_train = train.select_dtypes(include=['float64']).columns
float_columns_test = train.select_dtypes(include=['float64']).columns


# Scale them
train[float_columns_train] = scaler.fit_transform(train[float_columns_train])
test[float_columns_test] = scaler.fit_transform(test[float_columns_test])


train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1,0,B/0/P,2,0.695413,0,-0.345756,-0.285355,-0.309494,-0.273759,-0.269534,Maham Ofracculy,0
1,0002_01,0,0,F/0/S,2,-0.336769,0,-0.176748,-0.279993,-0.266112,0.206165,-0.230494,Juanna Vines,1
2,0003_01,1,0,A/0/S,2,2.002842,1,-0.279083,1.845163,-0.309494,5.596357,-0.226058,Altark Susent,0
3,0003_02,1,0,A/0/S,2,0.282540,0,-0.345756,0.479034,0.334285,2.636384,-0.098291,Solam Susent,0
4,0004_01,0,0,F/1/S,2,-0.887266,0,0.124056,-0.243650,-0.047470,0.220152,-0.267759,Willy Santantines,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,A/98/P,0,0.833037,1,-0.345756,3.777285,-0.309494,1.162518,-0.203876,Gravior Noxnuther,0
8689,9278_01,0,1,G/1499/S,1,-0.749641,0,-0.345756,-0.285355,-0.309494,-0.273759,-0.269534,Kurta Mondalley,0
8690,9279_01,0,0,G/1500/S,2,-0.199145,0,-0.345756,-0.285355,2.938900,-0.272885,-0.269534,Fayey Connon,1
8691,9280_01,1,0,E/608/S,0,0.213728,0,-0.345756,0.339621,-0.309494,0.034826,2.600774,Celeon Hontichre,0
8692,9280_02,1,0,E/608/S,2,1.039473,0,-0.150389,2.507673,-0.309494,-0.273759,-0.258887,Propsh Hontichre,1

In [6]:
train.drop(columns=['PassengerId', 'Cabin', 'Name'], inplace=True, axis=1)

In [7]:
from sklearn.model_selection import train_test_split

y = train.iloc[:, -1]
X = train.iloc[:, :-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4954, 10), (1652, 10), (4954,), (1652,))

In [8]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier, GradientBoostingClassifier




dt_classifier = DecisionTreeClassifier()
dt_classifier.fit(X_train, y_train)
y_preds = dt_classifier.predict(X_test)
print(f"Decision Tree Classifier\nTest Accuracy: {accuracy_score(y_test, y_preds)*100}%")

Decision Tree Classifier
Test Accuracy: 75.06053268765133%

In [9]:

from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, accuracy_score



# Stworzenie klasyfikatora MLP
mlp_classifier = MLPClassifier(hidden_layer_sizes=(10,), max_iter=1000)

# Trenowanie modelu
mlp_classifier.fit(X_train, y_train)

# Predykcja na zbiorze testowym
y_pred = mlp_classifier.predict(X_test)

# Ocena modelu
print("Raport klasyfikacji:")
print(classification_report(y_test, y_pred))
print("Dokładność:", accuracy_score(y_test, y_pred))

Raport klasyfikacji:
              precision    recall  f1-score   support

           0       0.82      0.75      0.78       813
           1       0.78      0.84      0.81       839

    accuracy                           0.80      1652
   macro avg       0.80      0.80      0.80      1652
weighted avg       0.80      0.80      0.80      1652

Dokładność: 0.7972154963680388

In [10]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [11]:
y_pred.shape

(1652,)